<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/detalle.css">
</head>
<body>
    <!-- header -->
    <%- include('./partials/header') %> 
    <!-- fin header -->

    <nav>
        <!-- Banner Producto -->
        <div class="banner-producto" style="background-image: url(https://images.unsplash.com/photo-1613514785940-daed07799d9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80);">
            <!-- Contenido Izquierda -->
                <div class="left-info">
                    <h2><%= product.name %></h2>
                    <div class="puntuacion">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="precio" >
                        <i class="fas fa-dollar-sign"></i>
                        <i class="fas fa-dollar-sign"></i>
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <div class="tiempo">
                        <i class="fas fa-clock"></i>
                        <i class="fas fa-clock"></i>
                        <i class="fas fa-clock"></i>
                    </div>
            </div>

            <!-- Contenido Derecha -->
            <div class="right-info">
                <div class="seguir">
                    <i class="fas fa-plus-circle"></i>
                    <p>Seguir lugar</p>
                </div>
            </div>
        </div>
        <!-- Banner Producto Termina -->
        <!-- Descripción Producto -->
        <div class="descripcion">
            <h3>Descripción: </h3>
            <p><%= product.description %></p>
        </div>
        <!-- Descripción Producto Termina -->
        <div class="mas-fotos">
            <h3>Más fotos</h3>
            <div class="figuras-comida">
                <img src="/images/products/<%= product.image %>" alt="<%= product.name %>">
            </div>
            <i class="fas fa-chevron-right"></i>
        </div>
        <!-- Comentarios -->
        <div class="comentarios">
            <p>Comentario 1</p>
            <p>Comentario 2</p>
            <p>Comentario 3</p>
            <p>Más</p>
        </div>
        <!-- Comentarios Termina -->
    </nav>

    <!-- footer -->
    <%- include('./partials/footer') %> 
    <!-- fin footer -->
</body>
</html>