<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title:'productos'}) %>

<body>
    <!-- header -->
    <%- include('./partials/header') %> 
        <!-- fin header -->
    
    <!-- <nav class="main-navbar">
       
            <div class="main-header-top-bar"> 
                <p class="return"> << Volver </p>
             </div>
        </section>
    </nav> -->
        
     <!-- main home -->
    <main class="main-home">
        <section class="main-section-home">
            <h3>Basado en tus ordenes</h3>
            <% visited.forEach( product =>{ %>
            <article class="main-article-home">
                <a href="/productos/detalle/<%= product.id %>">
                <img class="main-article-img" src="/images/products/<%= product.image %>" alt="<%= product.name %>">
                <article>
                    <p><%= product.name %></p>
                    <h2>$ <%= product.price %></h2>
                    <span><%= product.discount %></span>
                    <i class="fas fa-truck"></i>
                </article>
                </a>
            </article>
            <% }) %>
        </section>

        <section class="main-section-home">
            <h3>Productos en oferta</h3>
            <% inSale.forEach( product =>{ %>
            <article class="main-article-home">
                <a href="/productos/detalle/<%= product.id %>">
                <img class="main-article-img" src="/images/products/<%= product.image %>" alt="<%= product.name %>">
                <article>
                    <p><%= product.name %></p>
                    <h2>$ <%= product.price %></h2>
                    <span><%= product.discount %></span>
                    <i class="fas fa-truck"></i>
                </article>
                </a>
            </article>
            <% }) %>
        </section>
    </main>
           
    <!-- footer -->
    <%- include('./partials/footer'); %> 
    <!-- fin footer -->
</body>

</html>



 