<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Crear producto'}) %>
<body>
    <!-- header -->
      <%- include('./partials/header') %> 
    <!-- fin header -->
	    
    <!-- main home -->
    <main class="main-register-product">
        <section class="main-register-section-form-product">
            <h3>formulario</h3>
            <div class="form-register-product">
                <form action="/productos/editar/<%= product.id %>?_method=PUT" method="post">
                    <div class="form-register-item-product">
                        <label for="">Nombre del producto</label>
                        <input type="text" name="name" placeholder="nombre"
                        value="<%= product.name %> ">
                    </div>
                    <div class="form-register-item-product">
                        <label for="">Precio  del producto</label>
                        <input type="text" name="price" placeholder="precio"
                        value="<%= product.price %> ">
                    </div>
                    <div class="form-register-item-product">
                        <label for="">Descuento</label>
                        <input type="text" name="discount" placeholder="descuento">
                    </div>
                    <div class="form-register-item-product">
                        <label for="">Categoria</label>
                        <select name="category" class="select-option">
                            <option value="">Elige una opción</option>
                            <option value="in-sale">En oferta</option>
                            <option value="visited">Últimos agregados</option>
                        </select>
                    </div>
                    <div class="form-register-item-product">
                        <label for="">Tipo de comida</label>
                        <select name="food_type" id="" class="select-option">
                            <option value="">Elige una opción</option>
                            <option value="Mexican">Mexicana</option>
							<option value="Chinese">China</option>
							<option value="Japanese">Japonesa</option>
							<option value="French">Francesa</option>
							<option value="Italian">Italiana</option>
							<option value="Veggie">vegetariana</option>
                        </select>
                    </div>
                    <div class="form-register-item-product">
                        <label for="">Descripción</label>
                        <textarea name="description" id=""></textarea>
                    </div>
                    <div class="input-file">
                        <input type="file" name="productImage" id="">
                    </div>
                    <div class="form-register-item-product div-btns-product">
                        <button type="submit" class="btn-register-product">Enviar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!-- fin main home -->

    <!-- footer -->
    <%- include('./partials/footer') %> 
    <!-- fin footer -->
</body>

</html>



 