<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Crear producto'}) %>
<body>
    <!-- header -->
      <%- include('./partials/header') %> 
    <!-- fin header -->
	    
    <!-- main home -->
    <main class="main-register-product">
        <section class="main-register-section-form-product">
        	<h3>Formulario de creación de productos</h3>	
			<div class="form-register-product">
				<form action="/productos/crear/add" method="POST" enctype="multipart/form-data">
					<div class="row product-detail">
						<div class="form-register-item-product">
							<label for="name" class="form-label">Nombre del platillo:</label>
							<input type="text" class="input" id="name" name="name" placeholder="Ej: Tacos al pastor"
							value="<%= locals.old && old.name %>">
							<% if (locals.errors && errors.name){ %>
								<small class="alert-errors"><%= errors.name.msg %> </small>	
							<% } %>
							<small class="alert-errors" id="name_err"></small>
						</div>
						<div class="form-register-item-product">
							<label for="price" class="form-label">Precio del producto:</label>
							<input type="number" class="input" id="price" name="price" placeholder="Ej: 5178" 
							min="0" step="0.01" value="<%= locals.old && old.price %>">
							<% if (locals.errors && errors.price){ %>
								<small class="alert-errors"><%= errors.price.msg %> </small>	
							<% } %>
							<small class="alert-errors" id="price_err"></small>
						</div>
						<div class="form-register-item-product">
							<label for="discount" class="form-label">Descuento:</label>
							<input type="number" class="input" min="0" max="99" id="discount" name="discount" placeholder="Ej: 15" class="form-input"
							value="<%= locals.old && old.discount %>">
							<% if (locals.errors && errors.discount){ %>
								<small class="alert-errors"><%= errors.discount.msg %> </small>	
							<% } %>
							<small class="alert-errors" id="discount_err"></small>
						</div>
						<div class="form-register-item-product">
							<label for="category" class="form-label">Categoría:</label>
							<select name="category" id="category" class="select-option">
								<option value="">Elige una opción</option>
								<!-- <option value="in-sale">En oferta</option>
								<option value="visited">Últimos agregados</option> -->
								<%tipoCategoria.forEach(categoria=>{%>
									<option value="<%=categoria.tipo_categoria_id %>"> <%=categoria.descripcion%> </option>
								<%})%>
							</select>
							<% if (locals.errors && errors.category){ %>
								<small class="alert-errors"><%= errors.category.msg %> </small>	
							<% } %>
							<small class="alert-errors" id="category_err"></small>
						</div>
						<div class="form-register-item-product">
							<label for="food_type" class="form-label">Tipo de comida:</label>
							<select name="food_type" id="food_type" class="select-option">
								<option value="">Elige una opción</option>
								<% tipoComida.forEach(comida=>{ %>
									<option value="<%= comida.tipo_comida_id %>"><%= comida.descripcion %></option>
								<%})%>
							</select>
							<% if (locals.errors && errors.food_type){ %>
								<small class="alert-errors"><%= errors.food_type.msg %> </small>	
							<% } %>
							<small class="alert-errors" id="food_type_err"></small>
						</div>
						<div class="form-register-item-product">
							<label for="description" class="form-label">Descipción:</label>
							<textarea name="description" class="input" id="description"><%= locals.old && old.description %></textarea>
							<% if (locals.errors && errors.description){ %>
								<small class="alert-errors"><%= errors.description.msg%></small>	
							<% } %>
							<small class="alert-errors" id="desc_err"></small>	
						</div>
						<div class="form-register-item">
							<div class="input-file">
								<label class="text-label" for="file">Imagen del producto</label>
								<input id="file" type="file" name="productImage">
							</div>
							<small class="alert-errors" id="file_err"></small>	
						</div>

						<div class="form-register-item-product div-btns-product">
							<button id="btn" type="submit" class="btn-register-product">Guardar producto</button>
						</div>
					</div>
				</form>
			</div>

    	</section>   
    </main>
    <!-- fin main home -->

 <!-- fin bontones -->



    <!-- footer -->
    <%- include('./partials/footer') %> 
    <!-- fin footer -->
	<script type="text/javascript" src="/js/validator.min.js"></script>
    <script src="/js/validator-product.js"></script>
</body>

</html>



 