<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'Crear producto'}) %>
<body>
    <!-- header -->
      <%- include('./partials/header') %> 
    <!-- fin header -->
	    
    <!-- main home -->
    <main class="main-register-product">
        <section class="main-register-section-form-product">
            <h3>formulario de edición de producto</h3>
            <div class="form-register-product">
                <form action="/productos/editar/<%= product.id %>?_method=PUT" method="post">
                    <div class="form-register-item-product">
                        <label for="">Nombre del producto</label>
                        <input type="text" class="input" id="name" name="name" placeholder="nombre"
                        value="<%= product.name %>">
                        <% if (locals.errors && errors.name) { %>
                            <small class="alert-errors"><%= errors.name.msg %> </small>
                        <% } %>
                        <small class="alert-errors" id="name_err"></small>
                    </div>
                    <div class="form-register-item-product">
                        <label for="">Precio  del producto</label>
                        <input type="text" class="input" id="price" name="price" placeholder="precio"
                        min="0" step="0.01" value="<%= product.price %>">
                        <% if (locals.errors && errors.price) { %>
                            <small class="alert-errors"><%= errors.price.msg %></small>
                        <% } %>
                        <small class="alert-errors" id="price_err"></small>
                    </div>
                    <div class="form-register-item-product">
                        <label for="">Descuento</label>
                        <input type="text" class="input" id="discount" name="discount" placeholder="descuento"
                        min="0" max="99" value="<%= product.discount %>">
                        <% if (locals.errors && errors.discount) { %>
                            <small class="alert-errors"><%= errors.discount.msg %> </small>
                        <% } %>
                        <small class="alert-errors" id="discount_err"></small>
                    </div>
                    <div class="form-register-item-product">
                        <label for="">Categoria</label>
                        <select name="category" id="category" class="select-option">
                            <option value="">Elige una opción</option>
                            <option value="in-sale"
                            <%= (product.category === 'in-sale')? 'selected': '' %> >En oferta</option>
                            <option value="visited"
                            <%= (product.category === 'visited')? 'selected': '' %>>Últimos agregados</option>
                        </select>
                        <% if (locals.errors && errors.category) { %>
                            <small class="alert-errors"><%= errors.category.msg %> </small>
                        <% } %>
                        <small class="alert-errors" id="category_err"></small>
                    </div>
                    <div class="form-register-item-product">
                        <label for="">Tipo de comida</label>
                        <select name="food_type" id="food_type" class="select-option">
                            <option value="">Elige una opción</option>
                            <option value="Mexican"
                            <%= (product.food_type === 'Mexican')? 'selected' : '' %> >Mexicana</option>
							<option value="Chinese"
                            <%= (product.food_type === 'Chinese')? 'selected' : '' %> >China</option>
							<option value="Japanese"
                            <%= (product.food_type === 'Japanese')? 'selected' : '' %> >Japonesa</option>
							<option value="French"
                            <%= (product.food_type === 'French')? 'selected' : '' %> >Francesa</option>
							<option value="Italian"
                            <%= (product.food_type === 'Italian')? 'selected' : '' %> >Italiana</option>
							<option value="Veggie"
                            <%= (product.food_type === 'Veggie')? 'selected' : '' %> >vegetariana</option>
                        </select>
                        <% if (locals.errors && errors.food_type) { %>
                            <small class="alert-errors"><%= errors.food_type.msg %> </small>
                        <% } %>
                        <small class="alert-errors" id="food_type_err"></small>
                    </div>
                    <div class="form-register-item-product">
                        <label for="">Descripción</label>
                        <textarea name="description" class="input" id="description"><%= product.description %></textarea>
                        <% if (locals.errors && errors.description) { %>
                            <small class="alert-errors"><%= errors.description.msg %> </small>
                        <% } %>
                        <small class="alert-errors" id="desc_err"></small>	
                    </div>
                    <div class="form-register-itme">
                        <div class="input-file">
                            <label for="file">Imagen del producto</label>
                            <input type="file" name="productImage" id="file">
                        </div>
                        <small class="alert-errors" id="file_err"></small>
                    </div>
                    <div class="form-register-item-product div-btns-product">
                        <button id="btn" type="submit" class="btn-register-product">Enviar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!-- fin main home -->

    <!-- footer -->
    <%- include('./partials/footer') %> 
    <!-- fin footer -->

    <script type="text/javascript" src="/js/validator.min.js"></script>
    <script src="/js/validator-product.js"></script>
</body>

</html>



 