<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs',{ title: 'Detalle de producto'}) %> 
<body>
    <!-- header -->
    <%- include('./partials/header') %> 
    <!-- fin header -->

    <main class="main-product">
        <section class="product">  
            <article class="img-product">
                <img src="/images/products/<%= product.foto %>" alt="">
            </article>
            <article class="detail">
                <div class="product-title">
                    <h1><%= product.nombre %></h1>
                </div>
                <div class="product-desc">
                    <%= product.descripcion %>
                </div>
                <div class="price-before">
                    Precio anterior:  
                    <div>$ <%= product.precio %></div>
                </div>
                <div class="price-discount">
                    <div class="product-price">
                        $ <%= product.precio %>
                    </div>
                    <div class="product-discount">
                        <%= product.descuento %>% OFF
                    </div>
                </div>
                <div class="center-flex">
                    <button class="btn btn-primary w-100">Comprar</button>
                </div>
                <%if( user!== undefined &&  user.tipo_usuario_id===1){%>
                <div class="w-100 center-between">
                    <div class="w-50">
                        <a href="/productos/editar/<%= product.producto_id %>">
                            <button class="btn btn-primary w-100">Editar</button>
                        </a>
                    </div>
                    <div class="w-50">
                        <form id="form_delete" action="/productos/destroy/<%= product.producto_id %>?_method=PUT" method="POST">
                            <button id="btn" type="submit" class="btn btn-danger w-100">Eliminar</button>
                        </form>
                    </div>
                </div>
                <%}%>
            </article>
        </section>
    </main>

    <!-- footer -->
    <%- include('./partials/footer') %> 
    <!-- fin footer -->
    <script src="/js/detalle-product.js"></script>
</body>
</html>