<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: 'Login'}) %>

<body>
    <!-- header -->
    <%- include('../partials/header') %>
        <!-- fin header -->

        <!-- <nav class="main-navbar">

            <div class="main-header-top-bar">
                <p class="return">
                    << Volver </p>
            </div>
            </section>
        </nav> -->

        <!-- main home -->
        <main class="main-register">
            <section class="main-register-section-form">

                <section class="main-article-login">
                    <div class=div-cont-login> <img src="/images/img-chilaquiles.jpg"></div>
                    <div class="div-img-login">
                        <article>
                            <p>Chilaquiles</p>
                        </article>
                    </div>
                </section>
            </section>
            <section class="main-register-section-buttons">
                <h1>Inicia sesión</h1>
                <div class="div-text-cuenta">
                    <p class="text-inicio-cuenta">
                        ¿Aún no tienes cuenta? <a href="/user/signup">Registrate aquí</a>
                    </p>
                </div>
                <div class="buttons-group-auth">
                    <div class="button-auth">
                        <button class="btn-auth btn-auth-facebook">
                        <i class="fab fa-facebook"></i>
                        Facebook
                    </button>
                    </div>
                    <div class="button-auth">
                        <button class="btn-auth btn-auth-google">
                        <i class="fab fa-google"></i>
                        Google
                    </button>
                    </div>
                    <div class="button-auth">
                        <button class="btn-auth btn-auth-apple">
                        <i class="fab fa-apple"></i>
                        Apple
                    </button>
                    </div>

                    <form action="/user/enter" method="POST">
                        <div class="form-register-item">
                            <input type="email" name="email" placeholder="Correo">
                            <% if(locals.errors && errors.email){ %>
                                <small class="alert-errors"><%= errors.email.msg %></small>
                            <% } %>
                        </div>
                        <div class="form-register-item">
                            <input type="password" name="password" placeholder="Escribe tu Contraseña">
                            <% if(locals.errors && errors.password){ %>
                                <small class="alert-errors"><%= errors.password.msg %></small>
                            <% } %>
                        </div>

                        <div class="form-register-item">
                            <input type="checkbox" name="condicion" id="condicion" value="acepto">
                            <label class="text-label" for="">Recordar el inicio de sesión</label>
                        </div>
                        <div class="form-register-item div-btns">
                            <button class="btn-register">Ingresar</button>
                        </div>    
                    </form>
                </div>


            </section>



        </main>
        <!-- fin main home -->

        <!-- fin bontones -->



        <!-- footer -->
        <%- include('../partials/footer') %>
            <!-- fin footer -->
</body>

</html>